<div *ngIf="weather">
  
    <div>
      <label>Id: </label>{{ weather.id }}</div>
    <div>
      <label>Name: </label>{{weather.name}}</div>
    <p>
      <button (click)="addFavoriten()">Favoriten</button>
      <button (click)="cancel()">Cancel</button>
    </p>
  </div>




<!--div class="container"-->
    <!--div class="panel panel-primary">
      <div class="panel-heading">Table</div>
          <div class="panel-body">
          
            <div><span>Timezone: </span>{{weather.timezone}}</div>            
            <div><span>DT: </span>{{weather.dt}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>
            <div><span>Base: </span>{{weather.base}}</div>              
            <div><span>Lon: </span>{{weather.lon}}</div>
            <div><span>Lat: </span>{{weather.lat}}</div>
          </div>
    </div-->
    <!--table class="table table-striped">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Timezone</th>
          <th>DT</th>
          <th>Base</th>
          <th>Visibility</th>
          <th>Cod</th>
          <th>Lon</th>
          <th>Lan</th-->
          
          <!-- countryCode:number;
           sunrise:number;
           sunset:number;
           weatherId:number;
           icon:string;
           main:string;
           description:string;
           temperature:number;
           pressure:number;
           humidity:number;
           temp_min:number;
           temp_max:number;
           speed:number;
           deg:number;-->
        <!--/thead>
        <tbody>
          <tr--> <!--*ngFor="let w of weather?.content-->
            <!--td>{{weather.id}}</td>
            <td>{{weather.name}}</td>
            <td>{{weather.timezone}}</td>
            <td>{{weather.dt}}</td>
            <td>{{weather.base}}</td>
            <td>{{weather.isibility}}</td>
            <td>{{weather.cod}}</td>
            <td>{{weather.lon}}</td>
            <td>{{weather.lan}}</td>
          </tr>
        </tbody>
      </table>
    <button class="btn btn-primary"  type="submit" routerLink="/weatherFavoriten">Favoriten</button> 
    <button class="btn btn-primary"  type="submit" routerLink="/">Akualisieren</button> 
</div-->
    
